body {
    font-family: 'Times New Roman', Times, serif
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #000000;
    border-bottom: 4px solid #886d99;
    background-color: #e0d6e6;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 28px;
}

.nav_links {
    font-size: 18px;
}

.nav_links a{
    color: #49494981;
    text-decoration-line: none;
    font-weight: bold;
}

.nav_links :hover {
    color: #2a272c;
}

#active-page {
    font-size: 24px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 3px;
}

main {
    padding: 30px;
    background-color: #fefdff;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out; 
    z-index: 1;
  } 
  
a.skip:focus{
    top: 10px;
    color: black;
    text-decoration-style: solid;
} 

/* About page */

.hello {
    display: flex;
    flex-direction: column;
}

.hello h2 {
    text-align: left;
    font-size: 22px;
    
}

.hello h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hello img {
    display: flex;
    align-self: center;
}

.read-more {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 4px #886d99;
    border-bottom: solid 4px #886d99;
}

.read-more h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-top: 18px;
}

#newyork {
    padding-bottom: 15px;
    font-size: 18px;
}

#overview {
    color: #2a272c;
}

#overview a:hover{
    color: #000000;
    font-weight: bold;
}

.ey {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Introduction page */

.full-introduction {
    padding-top: 30px;
}

.full-introduction p{
    padding-bottom: 15px;
}

.headshot {
    width: 60%;
    height: auto;
    margin: auto;
}

.full-introduction h2{
    border-top: solid 4px #886d99;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

#future {
    font-size: 18px;
}

/* Experience page */

.contents {
    border-bottom: solid 4px #886d99;
    padding-bottom: 30px;
    width: 100%;
}

.contents a {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.experience {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid 4px #886d99;
}

.experience h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #000000;
    padding-top: 15px;
}

.experience h3 {
    font-weight: bold;
}

#feinstein {
    padding-top: 10px;
}

.experience li {
    padding-left: 15px;
    padding-bottom: 5px;
    list-style-type: square;
    list-style-position: inside;
}

.resume {
    padding-top: 15px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 4px #886d99;
    padding-bottom: 15px;
}

/* Gallery Page */

.grid-container {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-gap: 30px;
    position: relative;
} 

/* .grid-container img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
    display: block;  
}

.one-text, .two-text, .three-text, .four-text, .five-text, .six-text, .seven-text, .eight-text, .nine-text, .ten-text {
    visibility: hidden;
    position: absolute;
    background-color: #886d99;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    object-fit: fill;
    display: block; 
}

.img-one:hover .one-text, .img-two:hover .two-text, .img-three:hover .three-text, .img-four:hover .four-text, .img-five:hover .five-text, .img-six:hover .six-text, .img-seven:hover .seven-text, .img-eight:hover .eight-text, .img-nine:hover .nine-text, .img-ten:hover .ten-text{
    opacity: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 1s ease;
    visibility: visible; 
    position: absolute;
} */

.grid-container img {
    position: relative;
    width: 100%;
    height: 100%;
}

.one-text, .two-text, .three-text, .four-text, .five-text, .six-text, .seven-text, .eight-text, .nine-text, .ten-text {
    object-fit:inherit;
    position: absolute;
    background-color: #886d99;
    color: #ffffff;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    text-align: center;
}

.img-one:hover .one-text, .img-two:hover .two-text, .img-three:hover .three-text, .img-four:hover .four-text, .img-five:hover .five-text, .img-six:hover .six-text, .img-seven:hover .seven-text, .img-eight:hover .eight-text, .img-nine:hover .nine-text, .img-ten:hover .ten-text{
    opacity: 1;
    visibility: visible; 
}

/* Contact Page */

.parallax{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    height: 380px;
    background-image: URL('../images/thank-you.jpeg');
    background-repeat: no-repeat;
}

label{
    display: block;
    margin-right: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    background-color: #886d99;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    opacity: 0.8;
}

footer{
    background-color: #ffffff;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: auto;
}

@media screen and (min-width: 760px){

    /* About me page */

    .hello {
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding-bottom: 30px;
        align-content: center;
        margin: auto;
    }

    .hello h2 {
        grid-row: 1;
        grid-column: 2;
        text-align: left;
        font-size: 26px;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 15px;
    }
    
    .hello h3 {
        grid-row: 2;
        grid-column: 2;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }
    
    .hello img {
        grid-column: 1;
        grid-row: 1/-1;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .read-more h2 {
        font-size: 28px;
    }

    #overview {
        font-size: 22px;
    }
    
    #newyork {
        font-size: 24px;
        text-align: center;
    }

    /* Introduction page */

    .headshot {
        width: 40%;
    }
    
    .full-introduction p{
        font-size: 18px;
    }

    .full-introduction h2{
        font-size: 26px;
    }
    
    #future {
        font-size: 22px;
    }

    /* Photo gallery page */
    
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 30px;
    }
    
    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-one {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .img-eight {
        grid-row: 6;
        grid-column: 1/-1;
    } 

}

@media screen and (min-width: 900px){

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        font-size: 32px;
    }
    
    .nav_links {
        font-size: 22px;
    }

    #active-page {
        font-size: 28px;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        align-content: flex-end;
    }

    /* About me page */

    .hello {
        width: 75%;
    }

    .hello h3 {
        font-size: 28px;
    }

    /* Introduction page */

    .headshot {
        width: 30%;
    }

    /* Experience page */
    /* nothing to change */

     /* Photo gallery page */
    
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-one {
        grid-row: 2;
        grid-column: 1;
    }

    .img-two {
        grid-row: 1;
        grid-column: 1;
    } 

    .img-three {
        grid-row: 1;
        grid-column: 2;
    } 

    .img-four {
        grid-row: 1;
        grid-column: 3;
    } 

    .img-five {
        grid-row: 3;
        grid-column: 1;
    } 

    .img-six {
        grid-row: 2;
        grid-column: 2;
    } 

    .img-seven {
        grid-row: 2;
        grid-column: 3;
    } 

    .img-eight {
        grid-row: 4;
        grid-column: 1/-1;
    } 

    .img-nine {
        grid-row: 3;
        grid-column: 2;
    } 

    .img-ten {
        grid-row: 3;
        grid-column: 3;
    } 

    input {
        width: 50%;
    }
    
    textarea{
        width: 50%;
    }
    
    input[type=submit] {
        width: 50%;
    }
     
}